### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.log
*.war


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
md/

### Frontend (Vue) ###
node_modules/
qiangpiao-frontend/dist/
qiangpiao-frontend/.vite/
qiangpiao-frontend/resource/
